.ui-menu{
    z-index: 1001006;
}

.float{
    position:fixed;
    width:30px;
    height:30px;
    background-color:#2399e5;
    color:#FFF;
    text-align:center;
}

.my-float{
    margin-top:6px;
}

.ui-sidebar .ui-sidebar-close {
    padding-top: 28% !important;
}

.sidebar-content {
    padding-top: 30% !important;
}

.ui-sidebar-left {
    width: 12em !important;
}

.ui-menubar .ui-menuitem.ui-menuitem-custom {
    float: left !important;
}

.sidebar-ul {
    margin-top: 16px;
    padding-bottom: 120px;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.sidebar-li {
    box-sizing: border-box;
}

.sidebar-a {
    cursor: pointer;
    display: block;
    padding: 10px 5px;
    color: #292B2C;
    width: 100%;
    transition: background-color 0.3s, border-left-color 0.3s;
    overflow: hidden;
    border-left: 4px solid transparent;
    text-decoration: none;
}

li a i:first-child {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 16px;
}

